<ion-view view-title="待收货宝贝" ng-controller="shouhuoOrdersController">
    <ion-content>
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div ng-show="isLoading"  class="not-found-spiner">
            <ion-spinner icon="spiral"></ion-spinner>
        </div>
        <p ng-show="isLoading==false&&orders.length==0" class="no-data">还没有待收货宝贝...</p>
        <ion-list style="margin:0 0" ng-show="isLoading==false">
            <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="order in orders">
                <img ng-src="{{order.artifact.images[0].src}}">
                <h2 ng-bind="order.artifact.name"></h2>
                <p>
                    <span style="color:#3cc51f;padding-right: 5px">请确认收货</span>
                </p>
                <p>{{order.artifact.introduction}}</p>
                <a href="#/{{user.id}}/shouhuo_orders/{{order.id}}"><i class="icon ion-ios-arrow-right" style="width: 20px"></i></a>
            </ion-item>
        </ion-list>
        <button ng-if="loadingMore==false&&isLoading==false&&hasNextPage()" class="button button-clear button-block" ng-click="loadMore()"><i class="icon ion-chevron-down"></i></button>
        <button ng-if="loadingMore&&isLoading==false&&hasNextPage()" class="button button-clear button-block"><i class="icon ion-load-d"></i></button>
    </ion-content>
</ion-view>