<ion-view view-title="我的艺拍堂">
    <ion-content class="padding info">
        <h4 style="text-align: center;">卖家指南</h4>
        <h5>1、是否需要注册?</h5>
        <p>为了确保竞拍的有效性及现金的返利，艺拍堂的大部分功能必须在注册之后才能使用，如看看宝贝和积分拍卖。</p>
        <h5>2、发布拍品是否有等级要求？升级的附加价值？如何发布拍品？哪些物品禁止发布？</h5>
        <p>有，卖家需达到一定等级才能发布拍品至积分拍卖和看看宝贝，卖家等级及升级要求为：</p>
        <img class="full-image" src="http://guoqingauctionbucket.oss-cn-qingdao.aliyuncs.com/guoqingauction/images/seller-p1.png">
        <p><span>说明</span>：卖家达到<span>掌柜</span>级别后，可发布宝贝，但每<span>发布5个宝贝需分享卖场高级别卖家一个宝贝至朋友圈，但是同一个宝贝只允许分享一次</span>，例如掌柜级别发布5个宝贝后，提示其分享卖场一个高级别卖家的宝贝至朋友圈后才可继续上传，再上传5个宝贝后，必须分享高级别卖家另一宝贝。</p>
        <p>卖家到达一定级别后方可有资格参与平台后续推出的活动，敬请期待！</p>
        <p>
            <span>拍品发布过程：</span><br>
            <span>2.1、积分拍卖？</span><br>
            注册后，进入首页，点击上传宝贝，而后按步骤上传宝贝。<br>
            <span>2.2、看看宝贝?</span><br>
            注册后，进入首页，点击上传宝贝，而后按步骤上传宝贝。<br>
            <span>2.3、禁止发布的拍品：</span><br>
            本平台只允许发布文玩类及相关拍品，发布时请选择相应分类（文房四宝、玉粹珠宝、茶酒滋补、
            紫砂陶器、精雕细琢、文玩杂项）发布，国家明令禁止的不得发布，
            下列违禁品不得发布：盔犀鸟、大象、犀牛、虬角、虎骨、玳瑁、狼牙、
            羚羊角、人骨（三界、嘎巴拉）、猛犸象牙（带皮可以）、鹿骨、国家保护动物此类珍
            惜保护动物骨及角的制品、粉压、仿品及活物。
    </p>
        <h5>3、论坛操作指南？发帖规则及违规惩处措施？如何快速升级？</h5>
        <p>关注国青艺拍堂微信公众平台后，点击艺拍堂→论坛，进入论坛界面后，点发帖，后按步骤操作。<br>
            发帖规则：<br>
            （1）不允许出现盔犀鸟、大象、犀牛、虬角、虎骨、玳瑁、狼牙、羚羊角、人骨（三界、嘎巴拉）、猛犸象牙(带皮可以）、
            鹿骨、国家保护动物（如鹰，隼等）珍惜保护动物骨及角的制品、粉压、仿品及活物（配饰中含有也算）；<br>
            （2）禁止发布与文玩不符的主题帖，如人物照、动物、景色照片中无文玩均属违规；<br>
            （3）严禁发布与政治、暴力、黄色（任何不雅照、露胸照、露沟照），性相关文玩物品
            （包括生命之源、生殖器、不雅雕刻题材）、邪教、赌博、毒品有关的主题及其图片；<br>
            （4）禁止发布任何违法言论和违反互联网有关管理规定的内容；杜绝人身攻击贴子或攻击性言
            语跟帖，禁止谩骂、侮辱、挑衅等破坏团结的帖子；<br>
            惩处措施：<br>
            前两次：删除帖子或评论,并警告；<br>
            第三次：删除帖子或评论，禁言2日；<br>
            第四次：删除帖子或评论，禁言7日；<br>
            第五次：删除帖子或评论，禁言1个月；<br>
            第六次：删除帖子或评论，永久封号。<br>
            <span>为了维护论坛干净纯洁的氛围，如果您看到了违规内容，请您点击举报，我们会第一时间处理。关注平台、邀请好友、分享卖家拍品、
                成功竞拍、发帖、评论、点赞等都会赚取相应积分，积分可用于积分拍卖，积分也可用于升级，
                一定等级的用户可在看看宝贝部分发布拍品进行竞拍，后续会增加积分换钱，钱换积分功能，敬请期待。
            </span>
        </p>
        <h5>4、卖家是否可以设置悬赏积分使拍品被分享出去？</h5>
        <p>可以，卖家在上传拍品时，可设置宝贝被分享获取积分，所有平台的用户均可将拍品分享出去获得卖家积分。</p>
        <h5>5、发布拍品会要求强制分享朋友圈么？</h5>
        <p>不要求，但艺拍堂强烈建议您将发布的拍品分享至朋友圈以增加拍品被浏览成交的概率。</p>
        <h5>6、如何修改已发布的拍品？</h5>
        <p>拍品发布成功后，您可以修改自己发布的拍品。</p>
        <h5>7、什么时候可以收到货款？</h5>
        <p>买家点击确认收货后，系统会将钱款打到卖家的钱包中，您可以在我的→我的钱包中查看。微信支付只允许每个用户每天提现一次，单笔最大支持2000元，提现到银行卡2-5个工作日</p>
        <h5>8、成功交易后是否有红包返利？</h5>
        <p>有，国青艺拍堂在开发过程中加入了“我要代言”功能，任何关注平台的用户，只要将“我要代言”部分的二维码分享出去，平台会记录用户的分享情况，不仅有积分返送，
            拍品成功交易后，会按一定逻辑关系给相应分享用户红包返利。</p>
        <h5>9、成功交易后是否有积分奖励？</h5>
        <p>有，平台开发过程中加入了为成功交易的买家和卖家积分返送的福利。</p>
        <h5>10、如何给平台建议？</h5>
        <p>可以直接通过公众号与客服沟通.</p>
        <h5>11、卖家宝贝排名原则？</h5>
        <p>【等级>后来者居上（10分钟)>积分】<br>
            11.1：十分钟以后先是根据买家级别的高低来排序。【级别高在上】<br>
            11.2：同一级别卖家根据卖家所拥有的积分多少来排序。【积分高在上】
        </p>
        <h5>12、	如何惩处？</h5>
        <p>
            12.1：信誉为本的交易原则，卖家或买家失信，将会严厉惩处，降级为零。<br>
            12.2：恶意诈骗者将诉诸国家相关部门。
        </p>
        <h5>13、积分赚取?</h5>
        <p>
            1：邀请好友100分<br>
            2：论坛发帖子每个帖子10分<br>
            3: 点赞1分<br>
            4：回复主题5分<br>
            5：分享宝贝到朋友圈10分每次。
        </p>
        <h4 style="text-align: center;">买家指南</h4>
        <h5>1、是否需要注册？如何注册？</h5>
        <p>为了确保竞拍的有效性及现金的返利，艺拍堂的大部分功能必须在注册之后才能使用，如看看宝贝和积分拍卖。</p>
        <h5>2、拍买操作过程及退货流程？</h5>
        <p>
            （1)、看看宝贝？<br>
            <img class="full-image" src="http://guoqingauctionbucket.oss-cn-qingdao.aliyuncs.com/guoqingauction/images/buyer-p1.png">
            （2)、积分拍卖？<br>
            同看看宝贝，区别在于：此部分用积分竞拍，竞拍所得包邮。<br>
            （3)、退货流程？
            <img class="full-image" src="http://guoqingauctionbucket.oss-cn-qingdao.aliyuncs.com/guoqingauction/images/buyer-p2.png">
        </p>
        <h5>3、付款是否安全？如何付款？是否有保证金？</h5>
        <p>付款绝对安全，国青艺拍堂作为第三方担保，将买家与卖家通过竞拍连接起来，买家的付款会暂放在平台上，待收到拍品后，
            点击有确认收货，平台会自动将钱款打到卖家的钱包中，用户的现金会放在我的钱包中，用户可随时提取现金，为确保钱款安全，
            金额较大时，需经过平台审核，方可提现。竞拍成功后，点击我要付款，或稍后点击我的→待支付，进行支付，平台目前只接受微信支付，
            后期会逐渐增加银行卡支付，敬请期待。卖家在上传拍品时可设置保证金，保证金设置后，买家出价需支付保证金，宝贝成交后，
            若买家在规定时间内不付款，买家所支付保证金会打到卖家钱包中，若卖家在规定时间内不发货，卖家所设保证金会打到买家钱包中。
        </p>
        <h5>4、如何查看订单？</h5>
        <p>点击我的→我的宝贝，可查看竞拍得的拍品。</p>
        <h5>5、如何查看物流？</h5>
        <p>点击我的→待收货，可查看快递单号,前往快递100查看物流。</p>
        <h5>6、如何确认收货？</h5>
        <p>收到拍品后，点击我的→待收货→确认收货，交易成功。</p>
        <h5>7、是否可以联系卖家或给卖家留言？</h5>
        <p>为了方便买家与卖家的沟通，便于交易，平台设置了私信功能，买家有咨询或疑惑可点击私信与卖家沟通，同时，
            平台也具有评论功能，卖家可在评论部分留言，拍品竞拍成功付款时，买家也可给卖家留言。</p>
        <h5>8、成功交易后是否有红包返利？</h5>
        <p>有，国青艺拍堂在开发过程中加入了“我要代言”功能，任何关注平台的用户，只要将“我要代言”部分的二
            维码分享出去，平台会记录用户的分享情况，不仅有积分返送，拍品成功交易后，
            会按一定逻辑关系给相应分享用户红包返利。
        </p>
        <h5>9、成功交易后是否有积分奖励？</h5>
        <p>有，平台开发过程中加入了为成功交易的买家和卖家积分返送的福利。</p>
        <h5>10、论坛操作指南？发帖规则及违规惩处措施？如何赚取积分？</h5>
        <p>关注国青艺拍堂微信公众平台后，点击艺拍堂→论坛，进入论坛界面后，点发帖，后按步骤操作。<br>
            发帖规则：<br>
            （1）不允许出现盔犀鸟、大象、犀牛、虬角、虎骨、玳瑁、狼牙、羚羊角、人骨（三界、嘎巴拉）、猛犸象牙(带皮可以）、
            鹿骨、国家保护动物（如鹰，隼等）珍惜保护动物骨及角的制品、粉压、仿品及活物（配饰中含有也算）；<br>
            （2）禁止发布与文玩不符的主题帖，如人物照、动物、景色照片中无文玩均属违规；<br>
            （3）严禁发布与政治、暴力、黄色（任何不雅照、露胸照、露沟照），性相关文玩物品（包括生命之源、生殖器、不雅雕刻题材）、邪教、赌博、毒品有关的主题及其图片；<br>
            （4）禁止发布任何违法言论和违反互联网有关管理规定的内容；杜绝人身攻击贴子或攻击性言语跟帖，禁止谩骂、侮辱、挑衅等破坏团结的帖子；<br>
            惩处措施：<br>
            前两次：删除帖子或评论,并警告；<br>
            第三次：删除帖子或评论，禁言2日；<br>
            第四次：删除帖子或评论，禁言7日；<br>
            第五次：删除帖子或评论，禁言1个月；<br>
            第六次：删除帖子或评论，永久封号。<br>
            为了维护论坛干净纯洁的氛围，如果您看到了违规内容，请您点击举报，我们会第一时间处理。<br>
            关注平台、邀请好友、分享卖家拍品、成功竞拍、发帖、评论、点赞等都会赚取相应积分，积分可用于积分拍卖，积分也可用于升级，
            一定等级的用户会享受优惠政策，后续会增加积分换钱，钱换积分功能，敬请期待。
        </p>
        <h5>11、如何联系客服及给平台建议？</h5>
        <p>直接在公众号上与客服沟通.</p>
        <h5>12、买家级别</h5>
        <p>
            <img class="full-image" src="http://guoqingauctionbucket.oss-cn-qingdao.aliyuncs.com/guoqingauction/images/buyer-p3.png">
            买家级别的好处：平台后期会推出一定的针对特别等级买家的活动！
        </p>
        <h4 style="text-align: center;">国青艺拍堂简介</h4>
        <h5>1、国青艺拍堂简介？</h5>
        <p>青艺拍堂专注于文玩类产品的拍卖。本着用户体验第一的态度，以促进交易为目的，艺拍堂集众多功能于一身，
            关注即送积分、积分拍卖、分享宝贝、看看宝贝、我要代言、论坛等功能，各功能模块相互关联、操作简便，
            增强卖家和买家的互动，便于成交。
        </p>
        <h5>2、功能简介？</h5>
        <p>看看宝贝，即文玩拍卖，为平台的核心功能，本部分为卖家搭建一个操作简易、内容丰富的拍卖环境平台，
            同时也简化了买家的竞拍过程，竞拍有保障、付款安全、退换货自由，极大的方便了用户的操作，拍品成交后，
            还会有现金返利及积分赠送。<br>
            积分拍卖，即用积分参与竞拍，关注平台、论坛发帖子、邀请好友、评论、点赞、分享拍品至朋友圈、
            促成交易等都会获得积分，卖家可以把自己的宝贝上传至积分拍卖，所有关注平台并注册的用户均可参与积分拍卖，
            积分竞拍所得拍品全部包邮。<br>
            论坛，即可发帖晒自己的文玩类拍品，在促进互动、快速建立圈子、提升人气的同时，获得更多积分而快速升级，
            尽早发布拍品至看看宝贝进行拍卖。<br>
            我要代言，即可将平台的二维码分享给好友，获得积分，您推荐的好友卖出或竞拍成功，您均可获得现金返利。
        </p>
        <h5>3、公司文化？</h5>
        <p>西安子曰建筑景观艺术设计有限公司主要经营范围为工艺品、盆景、室内装饰品，“国青艺拍堂”作为其旗下的微信平台，
            专业于文玩艺术品拍卖，作为文化类公司，我们致力于精品，理念新颖、设计独特、产品极致、
            用户体验第一等是我们的目标。
        </p>
        <h5>4、国青艺拍堂的产生及愿景？</h5>
        <p>2014年我国文玩行业市场规模达6900亿元，预计2016年整个市场规模将达8870亿元，文玩行业市场规模庞大，
            但受经济下行压力影响，文玩行业的线下成交态势疲软，其成交规模增长远远未达到其应有的速度，
            文玩行业有句亘古不变的道理，即真正的好东西根本不愁卖，但这样的市场环境，使文玩宝贝在手上的积压时间过长，
            不利于流转，加之文玩线上交易平台较少，经典平台更是凤毛麟角，经过长期的市场调研，研究学习了既有平台的长处，
            了解用户的需要后，集思广益，将论证后的想法汇集，成立了“专注于文玩类产品的交易平台”。<br>
            作为竞拍平台，服务永远是第一位的，便捷的操作、促成交易、资金账户安全、用户存在感、
            乐趣等都是我们致力追求的，青年是一个国家的主力军，名如其实，我们希望用青年的激情、
            创新及追求极致的心境谱写文玩线上交易的新篇章。
        </p>
    </ion-content>
</ion-view>