<ion-view view-title="访问异常提示">
    <ion-content>
        <div class="weui_msg">
            <div class="weui_icon_area">
                <i class="weui_icon_msg">
                    <img src="http://guoqingauctionbucket.oss-cn-qingdao.aliyuncs.com/guoqingauction/images/qrcode_guoqingauction.jpg">
                </i>
            </div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">访问异常解决方法</h2>
                <p class="weui_msg_desc" style="text-align: left;">1、国青艺拍堂网站只能通过微信公众号访问,如未关注公众号请扫描上面二维码</p>
                <p class="weui_msg_desc" style="text-align: left;">2、访问公众号超时,请重新进入公众号</p>
                <p class="weui_msg_desc" style="text-align: left;">3、如果是第一次关注公众号,请先取消关注后重新关注</p>
                <p class="weui_msg_desc" style="text-align: left;">4、其他原因导致访问失败,可咨询公众号客服</p>
            </div>
        </div>
    </ion-content>
</ion-view>