<ion-view view-title="首页" class="home">
    <ion-content  ng-controller="homeController">
        <div style="margin: 50px 30px;">
            <p style="margin-bottom: 10px;">正在修改系统,给您带来不便请谅解</p>
            <button class="button button-block" ng-click="register()">我的信息</button>
            <a class="button button-block" href="#/tabs/deploy">发布宝贝</a>
            <a class="button button-block" href="#/tabs/artifacts">看看宝贝</a>
            <a class="button button-block" href="#/tabs/points">积分拍卖</a>
            <a class="button button-block" href="#/spokesman">我要代言</a>
            <a class="button button-block" href="#/introduction">关于艺拍堂</a>
        </div>
    </ion-content>
</ion-view>